<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>new page for tc.ice by tanchao</title>

    <link rel="stylesheet" href="{{BATH_PATH}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{BATH_PATH}}/stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>new page for tc</h1>
        <p>a new start for future</p>
      </header>
      <section>
        <div class="page-content">
            <div>
                {{ content }}
            </div>
        </div>
      </section>
      <footer>
        <p class="view"><a href="https://github.com/tanchao">View My GitHub Profile</a></p>
        <!--<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
      </footer>
    </div>
    <script src="{{BATH_PATH}}/javascripts/scale.fix.js"></script>
  </body>
</html>
